@charset "UTF-8";

div{
    text-align: justify;
}
body{
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 20px;
}
h1{
    text-align: center;
    color: black;
    background-color: aliceblue;
}
p{
    font-size: large;
    color: aliceblue;
}
h2{
    color: aliceblue;
}