@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Peralta&family=Sriracha&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    line-height: 1.5em;
    background-color: gray;
}

header{
    background-color: black;
    width: 100vw;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.logo-titulo{
    display: flex;
    align-items: center;
    gap: 5px;
}


header h1{
    font-family: 'Peralta';
    font-size: 1.5em;
    color: white;
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

nav#menu ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
}

nav#menu ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}

main{
    background-color: lightgray;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.459);

}

main h2.especial{
    text-align: center;
    padding: 5px;
}

main p{
    text-align: justify;
}

main p a{
    text-decoration: none;
    color: black;
}

main p a:hover{
    text-decoration: underline;
}

main div#imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

main img.img{
    object-fit: cover;
    width: 350px;
    height: 350px;
    padding: 15px;

}

main section.tela{
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

 div#video{
    margin: 0px auto 30px auto;
    padding: 30px;
    padding-bottom: 54.8%;

    position: relative;
    max-width: 100%;
    box-sizing: border-box;
}

div#video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100vw;
}

footer h3 a{
    text-decoration: none;
    color: white;
}

footer h3 a:hover{
    color: red;
    text-decoration: underline;
}

