@charset "UTF-8";

/*Versão Mobile First*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    height: 100vh;
}

body{
    background: black url(../imgs/back-phone.jpg) no-repeat center center;
    background-size: cover;
}

main{
    background-color: rgba(255, 255, 255, 0.849);
    width: 500px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

h1{
    text-align: center;
    color: rgb(119, 119, 119);
    text-shadow: 2px 2px 0px black;
}

#tablet{
    display: none;
}
#tv{
    display: none;
}
#cell{
    display: block;
    margin: auto;
}
#pc{
    display: none;
}
#print{
    display: none;
}