@charset "UTF-8";

@media screen and (min-width: 768px){
    #icon{ display: none;}
    #mn{ 
        display: block;
        
    }

    menu ul li{
        display: inline-block;
    }

    main {
        width: 768px;
    }
}